</div>
    <script src="assets/js/info.js"></script>
    <script src="assets/js/boardgame.js"></script>
    <script src="assets/js/configGame.js"></script>
    <script src="assets/js/bot.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>